.section {
    max-width: 1200px;
    margin: 0 auto;
    &--centered {
        text-align: center;
    }
}

.section-header {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: relative;
    @media (max-width: 600px) {
        font-size: 24px;
    }
}

.font--zero {
    font-size: 0;
}

.color--white {
    color: #fff;
}

.bgcolor--white {
    background-color: #fff;
}

.color--primary {
    color: #249fab;
}

.color--green{
    color: #bddb59;
}

.bgcolor--primary {
    background-color: #249fab;
}

.color--secondary {
    color: #2b1c34;
}

.bgcolor--secondary {
    background-color: #2b1c34;
}

.color--tertiary {
    color: #3c2e44;
}

.bgcolor--tertiary {
    background-color: #3c2e44;
}

.margin--bottom {
    margin-bottom: 40px;
    @media (max-width: 600px) {
        margin-bottom: 20px;
    }
}

.margin--top {
    margin-top: 40px;
    @media (max-width: 600px) {
        margin-top: 20px;
    }
}

.columns {
    display: flex;
    @media (max-width: 600px) {
        display: block;
    }
}

.column {
    flex: 1;
    margin: 0 20px;
}

.content {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
}

.content p {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 14px;
    @media (max-width: 600px) {
        font-size: 12px;
        line-height: 20px;
    }
    a[href] {
        @extend .color--primary;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.padding--top {
    padding-top: 40px;
    @media (max-width: 600px) {
        padding-top: 20px;
    }
}

.padding--bottom {
    padding-bottom: 40px;
    @media (max-width: 600px) {
        padding-bottom: 20px;
    }
}

@keyframes heart-up {
    10% {
        opacity: 1;
    }
    100% {
        transform: translate(-25px, -80px);
        opacity: 0;
    }
}

@keyframes herring-up {
    10% {
        opacity: 1;
    }
    100% {
        transform: translate(-39px, -80px);
        opacity: 0;
    }
}

.global {
    &__heart {
        position: absolute;
        pointer-events: none;
        width: 51px;
        height: 45px;
        background-image: url('./assets/heart.png');
        transform: translate(-25px, -45px);
        animation: heart-up 0.7s linear;
        opacity: 0;

        &--herring {
            width: 78px;
            height: 25px;
            transform: translate(-39px, -25px);
            background-image: url('./assets/sledz.png');
            animation: herring-up 0.7s linear;
        }
    }
}