.section {
    max-width: 1200px;
    margin: 0 auto;
}

.section-header {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    @media (max-width: 600px) {
        font-size: 24px;
    }
}

.color--white {
    color: #fff;
}

.bgcolor--white {
    background-color: #fff;
}

.color--primary {
    color: #249fab;
}

.bgcolor--primary {
    background-color: #249fab;
}

.color--secondary {
    color: #2b1c34;
}

.bgcolor--secondary {
    background-color: #2b1c34;
}

.color--tertiary {
    color: #3c2e44;
}

.bgcolor--tertiary {
    background-color: #3c2e44;
}

.margin--bottom {
    margin-bottom: 40px;
    @media (max-width: 600px) {
        margin-bottom: 20px;
    }
}

.margin--top {
    margin-top: 40px;
    @media (max-width: 600px) {
        margin-top: 20px;
    }
}

.columns {
    display: flex;
    @media (max-width: 600px) {
        display: block;
    }
}

.column {
    flex: 1;
    margin: 0 20px;
}

.content {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
}

.content p {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 14px;
    @media (max-width: 600px) {
        font-size: 12px;
    }
}

.padding--top {
    padding-top: 40px;
    @media (max-width: 600px) {
        padding-top: 20px;
    }
}

.padding--bottom {
    padding-bottom: 40px;
    @media (max-width: 600px) {
        padding-bottom: 20px;
    }
}