.icon {
  display: inline-block;
  vertical-align: top;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  margin-right: 0px;
  width: 16px;
  height: 16px;
}

.icon-dropbox {
  background-image: url('./assets/icon-dropbox.png');
}

.icon-github {
  background-image: url('./assets/icon-github.png');
}

.icon-facebook {
  background-image: url('./assets/icon-facebook.png');
}