.partners {
  max-width: 900px;
  margin:0 auto;
  &__header {
    font-size: 24px;
    font-family: Montserrat;
  }
  &__logo-list {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 600px) {
      display: block;
      height: auto;
    }
  }
  &__logo {
    padding: 20px;
    display: flex;
    width: 50%;
    @media (max-width: 600px) {
      display: block;
      width: auto;
    }

    img {
      margin: auto;
      max-width: 280px;
      max-height: 100px;
      @media (max-width: 600px) {
        max-width: 200px;
      }
    }

    &--sm {
      img {
        max-height: 80px;
      }
    }
  }
}