<!doctype html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin-ext" rel="stylesheet">
  <title>meet.js Białystok</title>
</head>

<body>
  <div id="root" class ="c-master"></div>
</body>

</html>
